.home {
    margin-top: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.home__welcome {
    text-transform: uppercase;
}

.home__youtube__channel__link {
    margin-top: 2rem;
}
